<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Detail</title>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</head>
<body>
Tbpost

<br>
Title :
<input type="text" id="tbpost_title" />


Content :
<input type="text" id="tbpost_content"/>

<button onclick="update_tbpost()">Update</button>

<br>
<div id="div_tbpost_detail"></div>

<script>
    $( document ).ready(function() {
        console.log( "ready!" );
        detail_tbpost();
    });
</script>

<script>
    function getIdFromUrl(obj){
        let temp_url_with_idx = obj;
        if(obj == null){
            temp_url_with_idx = window.location.href;
        }
        let split_slash_temp_idx = temp_url_with_idx.split('/');
        let temp_idx = split_slash_temp_idx[split_slash_temp_idx.length - 1];
        let split_question_temp_idx = temp_idx.split('?');
        if(split_question_temp_idx.length > 0){
            temp_idx = split_question_temp_idx[0];
        }
        return temp_idx;
    }

    function detail_tbpost() {
        $.ajax({
            url: "/api/tbpost",
            type: "GET",
            contentType : 'application/json; charset=utf-8',
            data:{
                id : getIdFromUrl(null)
            },
            cache: false,
            success: (data, status, xhr)=>{
                //alert("success!!");
                alert(JSON.stringify(data["id"]));
                $("#tbpost_title").val(data["title"]);
                $("#tbpost_content").val(data["content"]);
                $("#div_tbpost_detail").append(
                    "<div>Id : " + data["id"] +
                    "<br> Deleted : " + data["deleted"] +
                    "<br> Process : " + data["process"] +
                    "<br>CreatedAt : " + data["createdAt"] +
                    "<br>ModifiedAt : " + data["modifiedAt"] +
                    "<br>Title : " + data["title"] +
                    "<br>Author : " + data["author"] +
                    "<br>Content : " + data["content"] +"</div>"
                );
            },
            error: (data, status, xhr)=>{
                alert("error!!");
                alert(JSON.stringify(data));
            }
        })
    }

    function update_tbpost(){
        $.ajax({
            url: "/api/tbpost",
            type: "PUT",
            contentType : 'application/json; charset=utf-8',
            data: JSON.stringify({
                id : getIdFromUrl(null),
                title : $("#tbpost_title").val(),
                content : $("#tbpost_content").val()
            }),
            cache: false,
            success: (data, status, xhr)=>{
                //alert("success!!");
                alert(JSON.stringify(data));
            },
            error: (data, status, xhr)=>{
                alert("error!!");
                alert(JSON.stringify(data));
            },
        });
    }

</script>


</body>
</html>